@charset "UTF-8";


* {
   font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
main{
    background-color: white; 
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d48b4288;
}
body{
    background-image: linear-gradient(to right, #478CD6, #B9D3F0);
    
}

h1{
    color: #376DA1;
    text-align: center;
    text-shadow: 1px 1px 2px #874b0f36;
}
h2{color: #42AFD4;}
p{
    text-align: justify;
}